{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">{{ page_title }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form role="form" action="" method="post">
                {{ form.non_field_errors }}
                {% csrf_token%}
                <div class="form-group">
                    <label>名称</label>
                    {{ form.name }}
                    <p class="help-block">{{ form.name.errors }}</p>
                </div>
                   <button type="submit" style="float:right"class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{% endblock content%}

